{
  "plugins": [
    "syntax-dynamic-import",
    "react-activation/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": true
      }
    ]
  ]
}
